* {
  margin: 0;
  padding: 0;
}

body{
    font-family:'Roboto'
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.main-container{
    display: grid;
    grid-template-columns: minmax(250px, 300px) 1fr;;
    grid-template-rows: auto 1fr;
}

.sidebar{
    display: grid;
    background-color: #1992D4;
    grid-column: 1 / 2;
    grid-row: 1 / -1; /* Span all rows */
    gap: 30px;
    align-content: start;
}

.sidebar-options, .sidebar-header{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 15px;
    padding-bottom: 10px;
    padding-left: 40px;
    /* padding-left: 15px; */
}

.sidebar-header{
    padding-top: 20px;
    padding-left: 20px;
    gap: 15px;
}

.brand{
    color: white;
    font-weight: 700;
    font-size: 28px;
}

.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    flex-shrink: 0;
}

.logo{
    width: 50px;
    height: 50px;
    object-fit: cover;
    flex-shrink: 0;
}

.sidebar-text{
    font-size: 18px;
    font-weight: 700;
    color: white;
}


.header{
    display: grid;
    column-gap: 10px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 10px;
    padding: 20px;
    grid-column: 2 / 3;
    box-shadow: 0px 7px 12px -3px #000000;
}

.search-container, .profile-info{
    display: grid;
    /* padding: 10px;  */
    gap: 20px;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.small-bold-text{
    font-weight: 700;
    font-size: 15px;
}

.large-bold-text{
    font-weight: 700;
    font-size: 25px;
}

.profile-info-small, .button-container{
    display:grid;
    gap: 10px;
    align-items: center;
    justify-content: start;
    grid-template-columns: auto auto auto;
    width: 300px;
    white-space: nowrap;
    
}

.profile-info-small{
    font-weight: 700;
    font-size: 20px;
}

.media-button{
    color: white;
    background: #1992D4;
    border-radius: 20px;
    border: #1992D4 1px solid;
    padding: 10px;
    width: 100px;
    padding-left: 15px;
    font-size: 15px;
    font-weight: 600 ;
    
}

.searchbar{ 
    background-color: #e2e8f0;
    border-radius: 20px;
    border:#e2e8f0 1px solid;
    padding: 5px;
    width:85%;
}

.content-container{
    background-color: #e2e8f0;
    display: grid; 
    grid-template-columns: auto 1fr;
    padding: 20px;
    gap: 10px;
}

.projects-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: yellow 10px solid;
    gap: 10px;
}

.projects-section {
    display: grid;
    gap: 10px;
}

.content-card{
    height: 200px;
    border: pink 5px solid;
    text-align: center;
}

.updates-container{
    display: grid;
    gap: 10px;
}

.info-container{
    display: grid;
    border: red 5px solid;
    gap: 0px;
    grid-template-rows: auto auto 1fr;
}
