* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body{
    font-family:'Roboto'
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.main-container{
    display: grid;
    grid-template-columns: minmax(200px, 250px) 1fr;;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    border: 10px solid pink;
}

.sidebar{
    display: grid;
    background-color: #1992D4;
    border: 10px solid brown;
    grid-column: 1 / 2;
    grid-row: 1 / -1; /* Span all rows */
    gap: 30px;
    align-content: start;
}

.sidebar-options, .sidebar-header{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 15px;
    padding-bottom: 10px;
    padding-left: 40px;
    /* padding-left: 15px; */
}

.sidebar-header{
    padding-top: 20px;
    padding-left: 20px;
    gap: 15px;
}

.brand{
    color: white;
    font-weight: 700;
    font-size: 28px;
}

.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    flex-shrink: 0;
}

.logo{
    width: 50px;
    height: 50px;
    object-fit: cover;
    flex-shrink: 0;
}

.sidebar-text{
    font-size: 18px;
    font-weight: 700;
    color: white;
}


.header{
    display: grid;
    column-gap: 10px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 10px;
    padding: 20px;
    grid-column: 2 / 3;
    box-shadow: 0px 7px 12px -3px #000000;
}

.search-container, .profile-info{
    display: grid;
    column-gap: 20px;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: center;
}

.small-bold-text{
    font-weight: 700;
    font-size: 15px;
}

.large-bold-text{
    font-weight: 700;
    font-size: 25px;
}

.profile-info-small, .button-container{
    display:grid;
    gap: 10px;
    align-items: center;
    justify-content: start;
    grid-template-columns: auto auto auto;
    width: 300px;
    white-space: nowrap;
    
}

.profile-info-small{
    font-weight: 700;
    font-size: 20px;
}

.media-button{
    color: white;
    background: #1992D4;
    border-radius: 20px;
    border: #1992D4 1px solid;
    padding: 10px;
    width: 100px;
    padding-left: 15px;
    font-size: 15px;
    font-weight: 600 ;
}

.searchbar{ 
    background-color: #e2e8f0;
    border-radius: 20px;
    border:#e2e8f0 1px solid;
    padding: 5px;
    width:85%;
}

.content-container{
    background-color: #e2e8f0;
    display: grid; 
    border: blue solid 10px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    padding: 10px;
}

.header-text{
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.small-header-text{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.projects-section {
    display: grid;
    border: black 10px solid;
    grid-template-rows: max-content auto;
    gap: 10px;
}

.projects-container{
    display: grid;
    border: 10px solid orange;
    grid-template-columns: repeat(auto-fill, minmax(200px, 48%));
    gap: 2%;
    /* gap: 10px;  */
}

.content-card{
    background-color: white;
    padding: 10px;
    border-left: 8px solid rgb(245, 208, 0);
    /* height:fit-content; */
    border-radius: 6px; 
    text-align: center;
}

.updates-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    border: purple 10px solid;
    gap: 10px;
}

.info-card{
    display: grid;
    border: red 5px solid;
    row-gap: 20px;
    background: white;
    padding: 20px;
    grid-template-rows: repeat(3, auto);
    /* height: fit-content; */
    /* grid-template-rows: auto auto 1fr ; */
}

.info-body{
    border-bottom: 2px solid #e2e8f0;
    padding-bottom: 10px;
}

.info-text{
    color: grey;
    font-size: 14px;
}

.profiles{
    display: grid;
    background: white;
    padding: 20px;
    font-size: 16px;
    row-gap: 20px;
    height: fit-content;
}
